@mixin Banner(){
    width: 98%;
    margin: 0 auto;
    box-shadow: $shadow;
    border-radius: 20px;
    margin-bottom: 2%;
}

#main-banner
{
    @include Banner();
    height: 50vh;

    img{
        width: 100%;
        height: 50vh;
        border-radius: 20px;
    }
}


#carousel-banner
{
    background-color: $content-secondary;
    padding: 2%;

    h2{
        background-color: $content-secondary;
    }
    .carousel{
        @include Banner();
        width: 100%;
        margin-bottom: 2%;
       
        position: relative;
        
        img{
            width: 100%;
            height: 50vh;
            border-radius: 20px;
        }
        .spinner
        {
            background-color: $bg-primary;
            font-size: 1.4rem;
            position: absolute;
            bottom: 0;
            z-index: 9;
            width: 80%;   
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            padding: 1% 2%;
            border-top-left-radius: 20px 20px;
            border-top-right-radius: 20px 20px;

        }
       
    }
}

@media screen and (min-width: 480px) {
    .spinner
        {
            width: 30% !important;   
        }
}

