@import './var';
@import './text';
@import './input';
@import './header';
@import './nav';
@import './banner';
@import './card';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

html{
    scroll-behavior: smooth;
}

body
{
    background: $bg-primary;

}



#about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;   
    gap: 24px; 

    .content-column
    {
        margin: 0 auto;
    }
    img
    {
        width: 100%;
        height: 100%;     
        border-radius: 20px;   
        box-shadow: $shadow;
    }
    .center
    {
        text-align: center;
    }

}

#modalidades, #planos
{
    padding: 2%;
}

#info
{
    background: $content-primary;
    color: $content-secondary;
    padding: 2%;
    text-align: center;
}

.contact-form
{
    margin: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;

}

footer
{
    background: $content-secondary;
    color: $content-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 1%;

    a
    {
        color: $content-primary;
        font-weight: 500;
    }
}

.hidden
{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-60%);
    transition: all 2s;
}

.show
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

@media screen and (min-width: 480px) {
    #about{
        display: flex;
        flex-direction: row;
        
        img
        {
        width: 100%;
        height: 100%;     
        }
    }

    .contact-form
    {
        margin: 2% 0;
        display: inline;
        width: 100%;
    }

    footer
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

